services:
  nginx:
    image: nginx:alpine
    container_name: nginx-container
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - api
    restart: unless-stopped

  gpt-sovits:
    image: legwork7623/gpt-sovits:latest 
    container_name: gpt-sovits-container
    environment:
      - is_half=False
      - is_share=False
    volumes:
      - ./data/sovits/output:/workspace/output
      - ./data/sovits/logs:/workspace/logs
      - ./data/sovits/weights:/workspace/SoVITS_weights
      - ./data/voice_storage:/workspace/data/voice_storage
    working_dir: /workspace
    ports:
      - "9880:9880"
    shm_size: 16G
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    stdin_open: true
    tty: true
    restart: unless-stopped
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kurisu-api
    depends_on:
      - postgres
    expose:
      - "15597"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      - LLM_API_URL=http://ollama-container:11434
      - POSTGRES_USER=kurisu
      - POSTGRES_PASSWORD=kurisu
      - POSTGRES_HOST=postgres-container
      - POSTGRES_PORT=5432
      - POSTGRES_DB=kurisu
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker:ro
      - ./mcp_tools:/app/mcp_tools
      - ./whisper-finetuned:/app/whisper-finetuned
      - ./data:/app/data
    tty: true
    restart: unless-stopped


  postgres:
    image: postgres:16
    container_name: postgres-container
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=kurisu
      - POSTGRES_PASSWORD=kurisu
      - POSTGRES_DB=kurisu
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

networks:
  default:

volumes:
  postgres-data:
