services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}
    networks:
      - default
      - ollama-net
    depends_on:
      - api
    restart: unless-stopped

  gpt-sovits:
    image: legwork7623/gpt-sovits:latest 
    container_name: gpt-sovits-container
    environment:
      - is_half=False
      - is_share=False
    volumes:
      - ./data/sovits/output:/workspace/output
      - ./data/sovits/logs:/workspace/logs
      - ./data/sovits/weights:/workspace/SoVITS_weights
      - ./data/voice_storage:/workspace/data/voice_storage
    working_dir: /workspace
    ports:
      - "9880:9880"
    shm_size: 16G
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    stdin_open: true
    tty: true
    restart: unless-stopped
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kurisu-api
    depends_on:
      - postgres
    expose:
      - "15597"
    networks:
      - default
      - ollama-net
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      - LLM_API_URL=http://ollama-container:11434
      - TTS_API_URL=http://gpt-sovits-container:9880
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_DB=${POSTGRES_DB}
      - SERPAPI_KEY=${SERPAPI_KEY}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker:ro
      - ./mcp_tools:/app/mcp_tools
      - ./data:/app/data
    tty: true
    restart: unless-stopped


  postgres:
    image: pgvector/pgvector:pg16
    container_name: postgres-container
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

networks:
  default:
  ollama-net:
    external: true
    name: ollama-openwebui_default

volumes:
  postgres-data:
